.TodoCommentTemplate {
  align-items: flex-start;
}

.TodoCommentTemplate__gutters {
  padding: 14px 0;
}

.TodoCommentTemplate__border-bottom {
  border-bottom: 1px solid #F2F2F2;
}

.TodoCommentTemplate_avatar {
  min-width: 70px;
}

.TodoCommentTemplate_text {
  margin-top: 0;
  margin-bottom: 0;
}