.LanguageSelectItem {
  min-height: 30px;
}

.LanguageSelectItem_lang {
  min-width: 0;
  margin-right: 8px;
}

.LanguageSelectItem_flag {
  margin-right: 2px;
}

.LanguageSelectItem_text {
  font-size: 0.875rem;
  color: white;
}