.App {
  height: 100vh;
  min-height: 400px;
  display: flex;
  min-width: 768px;
}

.App_side-bar {
  flex: 0 0 270px;
}

.App_content {
  margin: 0;
  flex: 1;
  height: 100%;
  overflow: auto;
}

.App_content_paper {
  min-width: 400px;
}